<li>
	{{burger_name}}

	{{#if devour}}
	<button class="change-devour btn btn-warning" data-id="{{id}}" data-newdevour="{{devour}}">
		EAT ME!
	</button>
	{{else}}
	<button class="delburg btn btn-warning" data-id="{{this.id}}">GET RID!</button>
	{{/if}}
</li>